<ul type="none">
  <% @posts.each do |post| %>
    <li>
      <h3><%= link_to post.title, post %></h3>
      <span><%= pretty_date(post.created_at) %></span>
      <td><%= post.text.truncate(300) %></td>
    </li>
    <hr>
  <% end %>
</ul>

<%
=begin %>
<%= link_to "My Blog", controller: "posts" %>
<%= link_to 'New post', new_post_path %>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%
=end %>
